.pokemon-list {
    background-color: rgb(0, 195, 255);
    display: flex;
    gap: 10px;
    flex-direction: column;
    min-height: 485px;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.pokemon-desc {
    background-color: rgb(0, 195, 255);
    min-height: 485px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.max-div {
    max-height: 485px;
}
.pokemon-desc svg {
    width: 465px;
}
.pokemon-desc div {
    padding: 20px;
    text-align: right;
}
.pokemon-desc div h2 {
    font-size: 75px;
    margin: 0px;
}

.center-pokemon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.pokaball {
    margin: 10px;
    flex-shrink: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}

body {
    background-color: rgb(253, 255, 133)
}

.up {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(3.142rad);
    margin: 0px;
    padding: 0px;
    height: 190px;
    width: 100%;
}
.down {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 190px;
    width: 100%;
}

.hey {
    display: flex;
    z-index: -2;
    position: absolute;
    width: 650px;
}

.title {
    display: flex;
    margin-top: 200px;
    margin-right: 300px;
    margin-left: 200px;

}